@using RecetasDeCocina.Data.Models
@model List<Receta>

@{
    ViewData["Title"] = "Listado de Recetas Personalizadas";
}

<h2>@ViewData["Title"]</h2>

@foreach (var receta in ViewBag.RecetasPersonalizadas)
{
    
}

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Ingredientes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receta in ViewBag.RecetasPersonalizadas)
        {
            <tr>
                <td>@receta.Titulo</td>
                <td>@receta.Descripcion</td>
                <td>
                    <ul>

                        @foreach (var ingrediente in @receta.ListaIngredientes)
                        {
                            <li>
                                @ingrediente.Nombre
                            </li>
                        }

                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>



