@using RecetasDeCocina.Data.Models
@model List<Ingrediente>

@{
    ViewData["Title"] = "Listado de Ingredientes";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Gramos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingrediente in Model)
        {
            <tr>
                <td>@ingrediente.NombreDelIngrediente</td>
                <td>@ingrediente.CategoriaDelIngrediente</td>
                <td>@ingrediente.Descripcion</td>
                <td>@ingrediente.Gramos</td>
            </tr>
        }
    </tbody>
</table>
