@using RecetasDeCocina.Data.Models
@model List<Receta>

@{
    ViewData["Title"] = "Recetas Favoritas";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Ingredientes</th>
            <th>Tipo</th>
            <th>País</th>
            <th>Dificultad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receta in Model)
        {
            <tr>
                <td>@receta.Titulo</td>
                <td>@receta.Descripcion</td>
                <td>
                    <ul>
                        @foreach (var ingrediente in @receta.ListarIngredientes)
                        {
                            <li>
                                @ingrediente.NombreDelIngrediente
                            </li>
                        }
                    </ul>
                </td>
                <td>@receta.TipoDePlato</td>
                <td>@receta.PaisDeOrigen</td>
                <td>@receta.Dificultad</td>
          


            </tr>
        }
    </tbody>
</table>



