@using RecetasDeCocina.Data.Models
@model Receta
@{
    ViewData["Title"] = "Creación de Receta";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Crear" method="post">
    <div class="form-group">
        <label asp-for="Titulo">Titulo</label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descripcion">Descripcion</label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <label asp-for="ListaIngredientes">Ingredientes</label>
            @foreach (var ingrediente in ViewBag.IngredientesDisponibles)
            {
                <div>
                    <label for="@ingrediente.Id">
                        <input type="checkbox" name="ids" value="@ingrediente.Id" />
                        @ingrediente.Nombre
                    </label>
                </div>
            }
    </div>
    <div class="form-group">
        <label for="TipoDePlato">Tipo de Plato</label>
        <select asp-for="TipoDePlato" class="form-control">
            @foreach (var tipo in Enum.GetValues(typeof(TipoDePlato)))
            {
                <option value="@tipo">@tipo</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="PaisDeOrigen">País de origen</label>
        <select asp-for="PaisDeOrigen" class="form-control">
            @foreach (var pais in Enum.GetValues(typeof(PaisDeOrigen)))
            {
                <option value="@pais">@pais</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Dificultad">Dificultad</label>
        <select asp-for="Dificultad" class="form-control">
            @foreach (var dificultad in Enum.GetValues(typeof(Dificultad)))
            {
                <option value="@dificultad">@dificultad</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear Receta</button>
</form>

