@using RecetasDeCocina.Data.Models
@model List<Receta>

@{
    ViewData["Title"] = "Listado de Recetas";
}

<div class="container w-75 my-5 px-0">
    <div>

        <h2 class="mb-4 text-center">@ViewData["Title"]</h2>

        <form action="/Receta/Listar" method="post">
            <div class="text-center">
                <div class="row justify-content-center">
                    <div class="form-group col-md-2">
                        <partial name="/Views/Shared/_ComboTipoDeComida.cshtml">
                    </div>
                    <div class="form-group col-md-2">
                        <partial name="/Views/Shared/_ComboPais.cshtml">
                    </div>
                    <div class="form-group col-md-2">
                        <partial name="/Views/Shared/_ComboDificultad.cshtml">
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <partial name="/Views/Shared/_ComboIngrediente.cshtml">
                </div>
                <input type="submit" value="Filtrar" class="btn btn-dark fw-bold text-light p-1 sing-in rounded w-25 mb-3" />
            </div>
        </form>
            <div class="form-horizontal">
                <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Ingredientes</th>
                                <th>Tipo</th>
                                <th>País</th>
                                <th>Dificultad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var receta in Model)
                            {
                                <tr>
                                    <td>@receta.Titulo</td>
                                    <td>@receta.Descripcion</td>
                                    <td>
                                        <ul>
                                        @foreach (var ingrediente in @receta.ListaIngredientes)
                                            {
                                                <li>
                                                @ingrediente.Nombre
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                    <td>@receta.TipoDePlato</td>
                                    <td>@receta.PaisDeOrigen</td>
                                    <td>@receta.Dificultad</td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
    </div>
</div>